body {
    background-color: #CAFFFB;
}

header {
    /* background-color: cornsilk; */
    background-image: url("header-image.jpg");
    background-size: cover;
    border: 3px solid green;
    height: 40vh;  
}

header h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; 
    color: black;
    font-size: 15vw;
    font-family: 'Leckerli One', cursive;

}